body{
  background-color: @grey;
  padding: 30px 0;
}
header{
  font-size: 30px;
  color: @primary;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

footer{
  margin-top: 30px;
  text-align: center;
}