/* colors */
@black: #000;
@white: #fff;
@grey: #f5f5f5;
@dark-grey: darken(@grey, 30%);
@primary: #3a376b;
@secondary: #cc5476;

/* mixins */
.box-shadow(){
  box-shadow: 2px 2px 10px rgba(0,0,0, 0.1);
}

