<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PLP - product listing page</title>
  <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <header>List of Products</header>
  <main>
    <section id="product-listing">
      <script id="products" type="text/x-handlebars-template">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="product-listing-header">
                <div class="product-count">
                  <h2>{{this.length}} results</h2>
                </div>
                <div class="product-view-toggle">
                  <button id="gridView" data-view="grid" class="active"><i class="fa fa-th-large"></i> Grid </button>
                  <button id="listView" data-view="list"><i class="fa fa-list-ul"></i> List</button>
                </div>
                <!-- <div class="product-sorting">
                  Sort By: Most relevant
                  <ul>
                    <li>Most viewed</li>
                    <li>Favourite</li>
                  </ul>
                </div> -->
             </div>
            </div>
          </div>
          <div class="row">
            {{#each this}}
            <div class="col-lg-4 col-md-6">
              <div class="product">
                <div class="product-image">
                  <img src="{{picture}}" alt="product image">
                </div>
                <div class="product-favourite">
                  <span {{#if this.isFav}} class="isFavourite" {{/if}}></span>
                </div>
                <div class="product-detail">
                  <h4 class="product-title"><a href="{{url}}">{{name}}</a></h4>
                  <span class="product-size">{{size}}</span>
                  <span class="product-rating">
                    {{#ifCond rating}}
                    {{/ifCond}}
                  </span>
                  <div class="product-price">
                    <span class="product-price-discount">{{price}}</span>
                    {{#if oldPrice}}
                    <span class="product-price-original">{{oldPrice}}</span>
                    <span class="product-price-savings">You save {{savings}}</span> 
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </script>
    </section>

  </main>

  <footer>
    &copy; Copyright 2022
  </footer>

  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/handlebars/dist/handlebars.min.js"></script>
  <script src="./js/main.min.js"></script>
</body>

</html>