#form{
  label{
    margin-top: 15px;
  }
  input{
    display: block;
    width: 100%;
    @media (min-width: 1024px){
      width: 40%;
    }
  }
  .error-message{
    color: red;
  }
  button{
    margin-top: 20px;
  }

}