.product{
  position: relative;
  margin: 15px 8px;
  background-color: #fff;
  .box-shadow();
   
  &-listing-header{
    display: flex;
    justify-content: space-between;
    .product-view-toggle{
      
      button{
        background-color: darken(@grey, 5%);
        border: 1px solid darken(@grey, 20%);
        padding:5px 10px;
        &.active{
          background-color: darken(@grey, 50%);
          color: @white;
          cursor:default;
        }
      }
      @media (max-width:767px){
        display: none;
      }
    }
  }

  &-favourite{
    span{
      background-color: #fff;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      position: absolute;
      right: 15px;
      top: 15px;
      text-align: center;
      cursor: pointer;
      &:before{
        background-image: url(../images/fav.svg);
        background-size: 25px;
        background-repeat: no-repeat;
        content: '';
        width: 25px;
        height: 25px;
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
      &.isFavourite{
        &:before{
          background-image: url(../images/fav-filled.svg);
        }
      }
    }
    
  }

  &-count{
    h2{
      color: @primary;
    }
  }

  &-image{
    img{
      width: 100%;
    }
  }
  
  &-detail{
    padding: 20px;
    .product-title{
      color: @primary;
      a{
        color: inherit;
        text-decoration: none;
      }
    }
    .product-size{
      color: @black;
      font-weight: 500;
      margin:0 10px 10px 0px;
      display: inline-block;
    }
    .product-rating{
      display: inline-block;
      span{
        display: inline-block;
        margin: 0 1px;
        width: 15px;
        height: 15px;
        background-image: url(../images/rating.svg);
        background-repeat: no-repeat;
        background-size: 15px;
      }
    }
    .product-price{
      &-discount{
        font-size: 34px;
        color: @primary;
        font-weight: 600;
      }
      &-original{
        text-decoration: line-through;
        color: darken(@grey, 50%);
        margin-right: 15px;
      }
      &-savings{
        color: @secondary;
        font-size: 20px;
        display: inline-block;
      }
    }
  }
}

/* List view toggle */
.list{
  .col-lg-4{
    width: 100%;
  }
  .product{
    @media (min-width:768px){
      display: flex;
      align-items: center;
    }
  }
}